[default]
#general connection details etc
ftp_host: commissioning.sentinel3.esa.int
ftp_user: s3a-commteam
ftp_pw: S3A_COMM_R0
check_days: True
check_days_num: 106
log_dir: /datacentre/processing/sentinel/sentinel_3/ESRIN/logs/
email_alerts: steve.donegan@stfc.ac.uk;wurzelsteve@gmail.com

[ESRIN_LI_001_ROI_Geocal_AF]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_001_ROI_Geocal_AF
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_001_ROI_Geocal_AF

[ESRIN_LI_002_ROI_Geocal_SA]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_002_ROI_Geocal_SA
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_002_ROI_Geocal_SA

[ESRIN_LI_003_ROI_Flare_1]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_003_ROI_Flare_1
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_003_ROI_Flare_1

[ESRIN_LI_004_ROI_Flare_2]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_004_ROI_Flare_2
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_004_ROI_Flare_2

[ESRIN_LI_005_ROI_Europe]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_005_ROI_Europe
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_005_ROI_Europe

[ESRIN_LI_006_ROI_Sahara]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_006_ROI_Sahara
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_006_ROI_Sahara

[ESRIN_LI_007_ROI_Canari]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_007_ROI_Canari
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_007_ROI_Canari

[ESRIN_LI_008_ROI_North_Atlantic]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_008_ROI_North_Atlantic
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_008_ROI_North_Atlantic

[ESRIN_LI_009_ROI_South_Atlantic]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_009_ROI_South_Atlantic
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_009_ROI_South_Atlantic

[ESRIN_LI_010_ROI_South_Atlantic_Anomaly]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_010_ROI_South_Atlantic_Anomaly
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_010_ROI_South_Atlantic_Anomaly

[ESRIN_LI_011_ROI_Antartica]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_011_ROI_Antartica
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_011_ROI_Antartica

[ESRIN_LI_012_ROI_North_Pacific]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_012_ROI_North_Pacific
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_012_ROI_North_Pacific

[ESRIN_LI_013_ROI_North_West_Pacific]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_013_ROI_North_West_Pacific
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_013_ROI_North_West_Pacific

[ESRIN_LI_014_ROI_South_Pacific]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_014_ROI_South_Pacific
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_014_ROI_South_Pacific

[ESRIN_LI_015_ROI_Indian_Ocean]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_015_ROI_Indian_Ocean
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_015_ROI_Indian_Ocean

[ESRIN_LI_016_ROI_Maldive]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_016_ROI_Maldive
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_016_ROI_Maldive

[ESRIN_LI_017_RoI_Greenland]
ftp_server_path: /Output/IPF/Products/ESRIN/OPTICAL/LI_017_RoI_Greenland
product_base: S3A_SL_0_
local_path: /datacentre/processing/sentinel/sentinel_3/ESRIN/OPTICAL/LI_017_RoI_Greenland


