[default]
#general connection details etc
ftp_host: ftp.acri-cwa.fr
ftp_user: ftp_s3mpc-SL0
ftp_pw: arTE12%!
check_days: False
check_days_num: 50 
log_dir: /group_workspaces/cems2/slstr_cpa/s3_slstr_raw_data/FM02/phase_E1/data/EUMETSAT/logs/
email_alerts: steve.donegan@stfc.ac.uk;edward.polehampton@stfc.ac.uk
lockfile: /group_workspaces/cems2/slstr_cpa/s3_slstr_raw_data/FM02/phase_E1/data/EUMETSAT/OPTICAL/eumetsat_lock4.txt


[L0_MPC01]
ftp_server_path: /20170409/S3A_SL_0_SLT____20170409T124132_20170409T140612_20170410T120711_5080_016_209____0_LN2_O_NT_002.SEN3
product_base: ISPData.dat
local_path: /group_workspaces/cems2/slstr_cpa/s3_slstr_raw_data/FM02/phase_E1/data/EUMETSAT/OPTICAL/2017/04/09/S3A_SL_0_SLT____20170409T124132_20170409T140612_20170410T120711_5080_016_209____0_LN2_O_NT_002.SEN3


